<ion-view title="AC Society">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 320px; height: 17px;"></div>
        <div style="text-align:center;">
            <img src="img/rnIUhVSLQOaG1DlVv452_American_Cancer_Society_Logo.svg.png" width="60%" height="auto">
        </div>
        <div class="spacer" style="width: 320px; height: 17px;"></div>
        <div>
            <p>Want to do a lot of good with a little of your time? Whether it’s giving a cancer patient a ride to chemotherapy, putting together a team for Relay For Life®, or sending an email to friends and family about our cancer screening guidelines,
                there are multiple ways you can join the fight against cancer.</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>Cancer Awareness Event</strong>
                <br>225 N Michigan Ave
                <br>Chicago, Illinois 60601
                <br>March 12th 2016, 10:00 AM</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>