<ion-view title="AIDS Chicago">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 285px; height: 26px;"></div>
        <div style="text-align:center;">
            <img src="img/j0kMFypASuuLjEtbAZAG_AFClogo.png" width="70%" height="auto">
        </div>
        <div class="spacer" style="width: 285px; height: 24px;"></div>
        <div>
            <p>AFC brings together service providers and funders to develop systems that meet the needs of those living with HIV/AIDS and to maximize the use of scarce resources. AFC manages more than $17 million in local, state, and federal funds for an
                array of AIDS-related services.</p>

            <p>By assisting government entities in planning, distributing, and monitoring service contracts, AFC helps develop provider expertise and promotes uniform and high-quality delivery across the region.</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>Black Girls Matter - Address HIV vulnerability amongst minority groups.</strong>
                <br>West Point Missionary Baptist Church 3566 S Cottage Grove Ave., Chicago, IL
                <br>March 12th 2016, 10:00 AM</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>