<ion-view title="American Red Cross">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div style="text-align:center;">
            <img src="img/f1Mis6FxStu5pNVVZx4p_redcross-logo.png" width="75%" height="auto">
        </div>
        <div class="spacer" style="width: 320px; height: 20px;"></div>
        <div>
            <p>The American Red Cross exists to provide compassionate care to those in need.</p>

            <p>Our network of generous donors, volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world.</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>Kick off the official start to running season with Team Red Cross at the Bank of America Shamrock Shuffle 8k!</strong>
                <br>Millenium Park, Chicago, IL
                <br>March 12th 2016, 10:00 AM</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>