<ion-view title="Animal welfare">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/Vjj7Ke6ZRFGicqyPHEW2_DogsandCats.jpg" width="100%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="evanstonAnimalShelter">
                <img src="img/wJEPrWT8TYqVUkzR20Mj_logo.png">
                <h2>Evanston Animal Shelter</h2>
                <p>The Evanston Animal
                    <br>Shelter and Adoption
                    <br>Center is committed to providing compassionate and humane care for Evanston’s abandoned, abused and relinquished animals and to find them homes through rehabilitation, foster care, adoption, and rescue organizations.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/QpdCajGtQK2uACPhvfnt_community_animal_rescue_effort.jpg">
                <h2>C.A.R.E</h2>
                <p>Community Animal
                    <br>Rescue Effort
                    <br>(C.A.R.E.™) is an all-volunteer, nonprofit organization with a mission to serve the communities of Chicago's North Shore by fostering and supporting healthy, positive relationships between people and companion animals.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left">
                <img src="img/ZQngl2xgTTWa0oLeRO1f_heartlandlogo__2a.jpg">
                <h2>Heartland Animal Shelter</h2>
                <p>To find permanent,
                    <br>loving homes
                    <br>for homeless animals and promote responsible pet ownership through education, community outreach and collaboration while maintaining respect and compassion for all creatures.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>