<ion-view title="Baha'i">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/eYeUMfSqS7uXoOTsiLj2_mashriqul-adhkar-feature-img-5.jpg" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 285px; height: 18px;"></div>
        <div>
            <p>This House of Worship was built and is maintained by voluntary contributions from members of the Bahá’í Faith. It is a gift for all people to use for personal prayer and meditation.</p>

            <p>Service to humanity is service to God. Let the love of the light of the Kingdom radiate through you until all who look upon you shall be illumined by its reflection.” From the Bahá’í Writings</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>Presentation on Baha'i Faith</strong>
                <br>100 Linden Avenue, Wilmette, IL
                <br>March 12th 2016, 10:00 AM</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>