<ion-view title="CARE">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/JzlfZEBsT2aT4p8veXxg_squarespace" width="80%" height="auto">
        </div>
        <div class="spacer" style="width: 285px; height: 15px;"></div>
        <div>
            <p>Community Animal Rescue Effort (C.A.R.E.™) is an all-volunteer, nonprofit organization with a mission to serve the communities of Chicago's North Shore by fostering and supporting healthy, positive relationships between people and companion
                animals. C.A.R.E. rehomes companion pets into safe, healthy, lifelong homes; serves as an educational and counseling resource; and works to reduce pet overpopulation.</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>21st Annual Strut For Strays</strong>
                <br>Saturday, May 14, 2016
                <br>Evanston, IL 60204</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>