<ion-view title="Do Good">
    <ion-content overflow-scroll="true" padding="true" scroll="false">
        <div class="spacer" style="width: 320px; height: 88px;"></div>
        <div style="text-align:center;">
            <img src="img/s8eL1rQDQomaLV9TTOV7_logo1.png" width="100%" height="auto">
        </div>
        <div class="spacer" style="width: 320px; height: 128px;"></div>
        <a ui-sref="login" class="button button-balanced button-block  icon ">Login</a>
        <a ui-sref="signup" class="button button-balanced button-block  icon ">Sign Up</a>
        <div class="button-bar"></div>
    </ion-content>
</ion-view>