<ion-view title="Donate">
    <ion-content overflow-scroll="true" padding="true" scroll="false">
        <form class="list">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="search" placeholder="search for donation options">
            </label>
        </form>
        <h4>Causes</h4>
        <div class="button-bar">
            <a ui-sref="animalWelfare2" class="button button-stable button-block ">Animals</a>
            <button class="button button-stable button-block ">Health</button>
            <button class="button button-stable button-block ">Religion</button>
        </div>
        <h4>Popular</h4>
        <ion-list>
            <ion-item class="item-thumbnail-left">
                <img src="img/SqOnpSblTVimKK5jb72P_868px-The_Salvation_Army.svg.png">
                <h2>The Salvation Army</h2>
                <p>"Doing The Most Good".
                    <br>In these four words,
                    <br>our mission - to feed, to clothe, to comfort, to care. To rebuild broken homes and broken lives.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>