<ion-view title="Evanston Animal Shelter">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 320px; height: 26px;"></div>
        <div style="text-align:center;">
            <img src="img/5yA5h0WRuSCsIwWNwx2Q_logo.png" width="50%" height="auto">
        </div>
        <div class="spacer" style="width: 320px; height: 22px;"></div>
        <div>
            <p>The Evanston Animal Shelter and Adoption Center is committed to providing compassionate and humane care for Evanston’s abandoned, abused and relinquished animals and to find them homes through rehabilitation, foster care, adoption, and rescue
                organizations. We aim to further serve the community as a proactive resource for education, counseling and support.</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>Adoption Drive</strong>
                <br>Heritage Trail Mall; 410 Ridge Road, Wilmette March 12th 2016, 10:00 AM</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>