<ion-view title="Evanston Animal Shelter">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="width: 320px; height: 17px;"></div>
        <div style="text-align:center;">
            <img src="img/5yA5h0WRuSCsIwWNwx2Q_logo.png" width="50%" height="auto">
        </div>
        <div class="spacer" style="width: 320px; height: 12px;"></div>
        <div>
            <p>The Evanston Animal Shelter and Adoption Center is committed to providing compassionate and humane care for Evanston’s abandoned, abused and relinquished animals and to find them homes through rehabilitation, foster care, adoption, and rescue
                organizations. We aim to further serve the community as a proactive resource for education, counseling and support.</p>
        </div>
        <button class="button button-stable button-block ">Donate Now</button>
    </ion-content>
</ion-view>