<ion-view title="Get started">
    <ion-content overflow-scroll="true" padding="false" scroll="false" class="has-header">
        <div class="spacer" style="width: 320px; height: 14px;"></div>
        <div class="button-bar"></div>
        <div class="spacer" style="width: 320px; height: 53px;"></div>
        <a style="display:inline-block;" ui-sref="volunteer">
            <div style="text-align:center;">
                <img src="img/PN31jtU5QQ23w7jDysKm_volunteer.png" width="55%" height="30%">
            </div>
        </a>
        <div class="spacer" style="width: 320px; height: 37px;"></div>
        <a style="display:inline-block;" ui-sref="donate">
            <div style="text-align:center;">
                <img src="img/0sw2hkMS6yW5oNGzMmWw_donate.png" width="50%" height="30%">
            </div>
        </a>
    </ion-content>
</ion-view>