<ion-view title="Health &amp; Nutrition">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/h8NjuCzcSfG5ExbSZxBZ_your-medical-team.jpg" width="100%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="aCSociety">
                <img src="img/pnna5DcFSY6JLohvUeY6_photo.jpg">
                <h2>American Cancer Society</h2>
                <p>Want to do a lot of
                    <br>good with a little of
                    <br>your time? Whether it’s giving a cancer patient a ride to chemotherapy, putting together a team for Relay For Life®, or sending an email to friends and family about our cancer screening guidelines, there are multiple ways you can join
                    the fight against cancer.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="americanRedCross">
                <img src="img/TX7ivnVrSbqSuoKcr915_photo.jpg">
                <h2>American Red Cross</h2>
                <p>The American Red
                    <br>Cross exists to
                    <br>provide compassionate care to those in need. Our network of generous donors, volunteers and employees share a mission of preventing and relieving suffering, here at home and around the world.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="aIDSChicago">
                <img src="img/R0pQ0IbnTaJ6vSpOtlEQ_Medical-Benefits-Coordinator-AIDS-Foundation-of-Chicago.jpg">
                <h2>AIDS Foundation Chicago</h2>
                <p>AFC brings together
                    <br>service providers
                    <br>and funders to develop systems that meet the needs of those living with HIV/AIDS and to maximize the use of scarce resources. AFC manages more than $17 million in local, state, and federal funds for an array of AIDS-related services.
                    By assisting government entities in planning, distributing, and monitoring service contracts, AFC helps develop provider expertise and promotes uniform and high-quality delivery across the region.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>