<ion-view title="ISKCON">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 320px; height: 20px;"></div>
        <div style="text-align:center;">
            <img src="img/Nwr8iNMRGOXF7zbnSrse_rsz_iskcon_logo_big_no_background-1.png" width="35%" height="auto">
        </div>
        <div>
            <p>The Hare Krishna movement has its roots 5000 years ago in the teachings of Lord Krishna, the supreme personality of Godhead. The movement was introduced to the western world by His Divine Grace A.C Bhaktivedanta Swami Prabhupada in 1965 and
                it rapidly spread all over the world in a matter of 12 years and we have quadrupled in size since then.</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>Krishna Festival</strong>
                <br>1716 W Lunt Ave Chicago IL, 60626
                <br>March 12th 2016, 10:00 AM</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>