<ion-view title="Religion">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div style="text-align:center;">
            <img src="img/hUXaGc9kSezwRhKsYtOW_religion.jpg" width="100%" height="auto">
        </div>
        <ion-list>
            <ion-item class="item-thumbnail-left" ui-sref="salvationArmy">
                <img src="img/0NQVHWvVQiKvb7m6t8Wo_the_salvation_army.jpg">
                <h2>Salvation Army</h2>
                <p>The Salvation Army is
                    <br>an integral part of
                    <br>the Christian Church, although distinctive in government and practice. The Army’s doctrine follows the mainstream of Christian belief and its articles of faith emphasise God’s saving purposes. Its objects are ‘the advancement of the
                    Christian religion… of education, the relief of poverty, and other charitable objects beneficial to society or the community of mankind as a whole.’</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="bahaI">
                <img src="img/eYzHLUi5TseupKQnRz9r_photo.jpg">
                <h2>Baha'i House of Worship</h2>
                <p>This House of Worship
                    <br>was built and is
                    <br>maintained by voluntary contributions from members of the Bahá’í Faith. It is a gift for all people to use for personal prayer and meditation.</p>
            </ion-item>
            <ion-item class="item-thumbnail-left" ui-sref="iSKCON">
                <img src="img/ImhBgoGsQ2yB5IocX8HD_rsz_iskcon_logo_big_no_background-1.png">
                <h2>ISKCON Chicago</h2>
                <p>The Hare Krishna
                    <br>movement has its
                    <br>roots 5000 years ago in the teachings of Lord Krishna, the supreme personality of Godhead. The movement was introduced to the western world by His Divine Grace A.C Bhaktivedanta Swami Prabhupada in 1965 and it rapidly spread all over
                    the world in a matter of 12 years and we have quadrupled in size since then.</p>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>