<ion-view title="Salvation Army">
    <ion-content overflow-scroll="true" padding="true" class="has-header">
        <div class="spacer" style="width: 320px; height: 26px;"></div>
        <div style="text-align:center;">
            <img src="img/H11tWihR7aYJoZv4V8uk_ihq-logo.jpg" width="70%" height="auto">
        </div>
        <div class="spacer" style="width: 320px; height: 23px;"></div>
        <div>
            <p>The Salvation Army is an integral part of the Christian Church, although distinctive in government and practice. The Army’s doctrine follows the mainstream of Christian belief and its articles of faith emphasise God’s saving purposes. Its
                objects are ‘the advancement of the Christian religion… of education, the relief of poverty, and other charitable objects beneficial to society or the community of mankind as a whole.’</p>
        </div>
        <h4>Events</h4>
        <div>
            <p>
                <strong>Pray for Humanity</strong>
                <br>St.Paul's Church, Chicago, IL March 12th 2016, 10:00 AM</p>
        </div>
        <a ui-sref="success" class="button button-stable button-block ">Volunteer</a>
    </ion-content>
</ion-view>