<ion-view title="Success">
    <ion-content overflow-scroll="true" padding="true" scroll="false" class="has-header">
        <div class="spacer" style="height: 100px;"></div>
        <div style="text-align:center;">
            <img src="img/PFrgoW3Tu94Mf5UpNXBA_success-icon.png" width="30%" height="auto">
        </div>
        <h3>Thanks for volunteering</h3>
        <div>
            <p>Your time is of the utmost essence and we hope you love this opportunity and we look forward to seeing you in the future !</p>
        </div>
        <a ui-sref="getStarted" class="button button-stable button-block ">Go Back Home</a>
        <button class="button button-stable button-block ">Share</button>
    </ion-content>
</ion-view>